/target/
/logs/
**/.env
**/.env.*
!.env.example
!.env.template
/*.log
/*.log.*
/*.gz
/.idea/
/.vscode/
/.trae/
/local_database
/setup.zip
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
*.iml
.DS_Store
Thumbs.db
/frontend/_backup/
/frontend/.vscode/
**/*.code-workspace
**/*.p12
**/*.jks
**/*.keystore
**/*.pem
**/*.key
**/*.crt
/keystore.p12.b64
/nearshare.sqlite
/*.sqlite
/data/
/stripe.exe
/docker-deploy.env
/docker-deploy.config
