/target/
/logs/
/.env
/.env.*
/*.log
/*.log.*
/*.gz
/.idea/
/.vscode/
/.trae/
/setup.zip
/frontend/_backup/
/frontend/.vscode/
**/*.code-workspace
**/*.p12
**/*.jks
**/*.keystore
**/*.pem
**/*.key
**/*.crt
/docker-deploy.env
/docker-deploy.config
